.menu-icon
{
    width: 5rem;
}
.menu-header
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.menu-items
{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}